#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_carboncoin
#build/carboncoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_carboncoin)

DEB_INSTALL_EXAMPLES_carboncoind += debian/examples/*
DEB_INSTALL_MANPAGES_carboncoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix carboncoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f carboncoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake carboncoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_carboncoin
	src/test_carboncoin

# Ensure wrapper is set executable
binary-post-install/carboncoind:
	chmod +x $(cdbs_curdestdir)usr/bin/carboncoind
binary-post-install/carboncoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/carboncoin-qt
